.table{
	margin-bottom: 0px;
}
.projectName{
	font-weight: bold;
	font-size: 14px;
	width: 250px; 
	word-wrap: break-word;
}
.description{
	font-size: 12px;
	word-wrap: break-word; 
	width: 250px;
}

#header-background span {
	color: #eee !important;
}
#header-background a {
	color: white !important;
	text-decoration: none !important;
	opacity: 0.7 !important;
}
#header-background a:hover {
	opacity: 1 !important;
}