.table{
	margin-bottom: 0px;
}
.projectName{
	font-weight: bold;
	font-size: 14px;
	width: 250px; 
	word-wrap: break-word;
}
.description{
	font-size: 12px;
	word-wrap: break-word; 
}

#anhdaidien {
	height: 150px;
	width: 150px;
}

.hoverImg {
	z-index: 10;
	color: white;
	background: black;
	opacity:0.05;
	position: relative;
	width: 150px;
	height: 50px;
	top: -50px;
	line-height: 50px;
	cursor: pointer;
}

.hoverImg:hover {
	opacity: 0.8;
}

#header-background {
	font-size: 16px;
}
