a {
	text-decoration: none !important;
	cursor: pointer;
}
#wrapper-diagram {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
#header-diagram {
	position: absolute;
	top: 0px;
	left: 0;
	right: 0;
	bottom: 0;
	height: 50px;
	background: url('../img/bg-footer.jpg');
	padding-right: 6px;
	padding-left: 6px;
}
#header-diagram div {
	font-size: 14px;
	color: white;
	line-height: 50px;
	padding-left: 4px;
	/* padding-right: 6px;
	border-right: 2px solid #337ab7;*/
	float: left;
}
#header-diagram span {
	color: #eee !important;
}
#header-diagram a {
	color: white !important;
	text-decoration: none !important;
	opacity: 0.9 !important;
}
#header-diagram a:hover {
	opacity: 1 !important;
}
#properties-diagram {
	position: absolute;
	top: 50px;
	right: 0;
	left: 0;
	background: #f2f2f2;
}
#properties-diagram a {
	color: #333;
	text-decoration: none;
	line-height: 50px;
	padding: 10px;
	outline: none;
	background: #f2f2f2;
}
#properties-diagram a:hover {
	color: #333;
	background: white;
}
#content-diagram {
	position: absolute;
	top: 100px;
	bottom: 0;
	left: 0;
	right: 0;
}

#list-element-diagram {
	position: absolute;
	width: 200px;
	top: 0;
	bottom: 0;
	left: 0;
	background: #f2f2f2;
	/* border-right: 1px solid #f2f2f2; */
	overflow: auto;
}
#right-content-diagram {
	position: absolute;
	top: 0;
	left: 200px;
	bottom: 0;
	right: 0;
	overflow: auto;
}
#paper-diagram {
	top: 0;
	left: 0;
	bottom: 0;
	width: 85%;
	position: absolute;
	overflow: auto;
}
#name-diagram {
	height: 40px;
	padding: 10px;
	font-weight: bold;
}
#paper {
	width: 1500px !important;
	height: 1000px !important;
	background: url('../img/grid.gif') !important;
	position: relative;
}
#tool-diagram {
	top: 0;
	left: 85%;
	bottom: 0;
	right: 0;
	position: absolute;
	background: white;
	overflow: auto;
}
#tool-element-diagram {
	top: 0;
	height: 25%;
	right: 0;
	left: 0;
	position:absolute;
	/* background: white; */
}
#hint-usecase-diagram {
	top: 25%;
	right: 0;
	bottom: 0;
	left: 0;
	/* background: red; */
	position: absolute;
	overflow: auto;
}

#hint-usecase-diagram div {
	border-bottom: 1px solid #eee;
	padding: 5px 20px 5px 30px;
	background: white;
	/* cursor: move; */
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	
	/* No support for these yet, use at own risk */
	-o-user-select: none;
	user-select: none;
}

.toggle-element-view {
	background: url('../img/gauze.png');
	padding: 0 20px 0 20px;
}
.children-element-view div {
	border-bottom: 1px solid #eee;
	padding: 5px 20px 5px 30px;
	background: white;
	/* cursor: move; */
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	
	/* No support for these yet, use at own risk */
	-o-user-select: none;
	user-select: none;
}

.children-element-view div:hover {
	background: #eee;
}

textarea {
	overflow: hidden;
}

.paper-scroll {
	overflow: auto !important;
	width: 870px !important;
	height: 800px !important;
	-moz-transition: all 0.7s ease;
	-webkit-transition: all 0.7s ease;
	-o-transition: all 0.7s ease;
	transition: all 0.7s ease;
}

.paper-no-scroll {
	overflow: hidden !important;
	width: 1050px !important;
	height: 1000px !important;
	-moz-transition: all 0.7s ease;
	-webkit-transition: all 0.7s ease;
	-o-transition: all 0.7s ease;
	transition: all 0.7s ease;
}

.role-actor {
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 10px;
	padding-bottom: 10px;
	padding-left: 12px;
}

#message-alert-for-user {
	position: fixed;
	z-index: 10000;
	background: #5cb85c;
	top: 54px;
	right: 10px;
	display: none;
	padding: 10px;
	color: white;
}