#paperUI {
	background: url('../img/grid.gif');
	position: relative;
	height: 1000px;
	width: 1500px;
	overflow: hidden;
}

#tool-UI {
	position: fixed !important;
	z-index: 100;
	top: 10vh;
	right:0;
}

#element-design-ui div {
	text-align: center;
	padding-top: 10px;
}
