#paperUI {
	background: url('../img/grid.gif');
	position: relative;
	height: 1000px;
	width: 1500px;
	overflow: auto;
}

#tool-UI {
	position: fixed !important;
	z-index: 100;
	top: 10vh;
	right:0;
}

#element-design-ui div {
	text-align: center;
	padding-top: 10px;
}

#exportSVGUI,
#exportXMLUI {
	width:100%;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	height: 56px;
}

#nameFileSVGUI,
#nameFileXMLUI {
	border:none;
	box-shadow: none !important;
	height:56px;
	font-size:16px;
}
