.ui-button,
.ui-div,
.ui-textbox,
.ui-textarea,
.ui-label,
.ui-radio-checked,
.ui-radio,
.ui-checkbox,
.ui-checkbox-checked {
    pointer-events: none;
   -webkit-user-select: none;
   position: absolute;
   background: transparent;
}
.ui-textbox button,
.ui-textbox div,
.ui-button button,
.ui-button div,
.ui-div button,
.ui-div div,
.ui-textarea button,
.ui-textarea div,
.ui-label button,
.ui-radio-checked button,
.ui-radio button,
.ui-checkbox button,
.ui-checkbox-checked button {
   pointer-events: auto;
   position: absolute;
}

.ui-textbox input,
.ui-button input,
.ui-textarea textarea,
.ui-label input,
.ui-radio-checked input,
.ui-radio input,
.ui-checkbox input,
.ui-checkbox-checked input {
   pointer-events: none;
   position: absolute;
}

.ui-button button.delete,
.ui-button button.copy,
.ui-div button.delete,
.ui-div button.copy,
.ui-textbox button.delete,
.ui-textbox button.copy,
.ui-textarea button.delete,
.ui-textarea button.copy,
.ui-label button.delete,
.ui-label button.copy,
.ui-radio-checked button.delete,
.ui-radio-checked button.copy,
.ui-radio button.delete,
.ui-radio button.copy,
.ui-checkbox button.delete,
.ui-checkbox button.copy,
.ui-checkbox-checked button.delete,
.ui-checkbox-checked button.copy {
   border-radius: 20px;
   width: 15px;
   height: 15px;
   line-height: 15px;
   top: -18px;
   background-color: #0769AD;
   color: white;
   border: none;
   padding: 0;
   margin: 0;
   float: left;
   display: none;
}

.ui-button button.delete,
.ui-div button.delete,
.ui-textbox button.delete,
.ui-textarea button.delete,
.ui-label button.delete,
.ui-radio-checked button.delete,
.ui-radio button.delete,
.ui-checkbox button.delete,
.ui-checkbox-checked button.delete {
   left: -15px;
}

.ui-button button.copy,
.ui-div button.copy,
.ui-textbox button.copy,
.ui-textarea button.copy,
.ui-label button.copy,
.ui-radio-checked button.copy,
.ui-radio button.copy,
.ui-checkbox button.copy,
.ui-checkbox-checked button.copy {
   right: -15px;
}

.ui-button button.delete:hover,
.ui-div button.delete:hover,
.ui-textbox button.delete:hover,
.ui-textarea button.delete:hover,
.ui-label button.delete:hover,
.ui-radio-checked button.delete:hover,
.ui-radio button.delete:hover,
.ui-checkbox button.delete:hover,
.ui-checkbox-checked button.delete:hover {
   width: 20px;
   height: 20px;
   line-height: 20px;
}
.ui-button input,
.ui-textbox input,
.ui-textarea textarea,
.ui-label input,
.ui-radio-checked input,
.ui-radio input,
.ui-checkbox input,
.ui-checkbox-checked input {
   text-align: center;
   height: 23px;
   border: none;
   background: transparent;
   overflow:hidden;
   resize: none;
}
.ui-button input {
   width: 100px;
   height: 30px;
   top: 0;
}
.ui-textbox input {
   width: 150px;
   height: 30px;
   top: 0;
}
.ui-textarea textarea {
   width: 150px;
   height: 60px;
   top: 0;
}
.ui-label input {
   width: 100px;
   height: 30px;
   top: 0;
}
.ui-radio-checked input,
.ui-radio input {
   width: 150px;
   height: 20px;
   top: 0;
}
.ui-checkbox input,
.ui-checkbox-checked input {
   width: 150px;
   height: 20px;
   top: 0;
}
.ui-div div,
.ui-button div,
.ui-textarea div,
.ui-textbox div {
   width: 22px;
   height: 22px;
   text-align: center;
   display: none;
   color: #0769AD;
}

.ui-div div {
   top: 200px;
   left: 200px;
}

.ui-button div {
   top: 30px;
   left: 100px;
}

.ui-textarea div {
   top: 60px;
   left: 150px;
}

.ui-textbox div {
   top: 30px;
   left: 150px;
}