.ui-button,
.ui-div,
.ui-textbox,
.ui-textarea,
.ui-label,
.ui-radio-checked,
.ui-radio,
.ui-checkbox,
.ui-checkbox-checked,
.ui-selectbox,
.ui-table {
    pointer-events: none;
   -webkit-user-select: none;
   position: absolute;
   background: transparent;
}
.ui-textbox button,
.ui-textbox div,
.ui-button button,
.ui-button div,
.ui-div button,
.ui-div div,
.ui-textarea button,
.ui-textarea div,
.ui-label button,
.ui-radio-checked button,
.ui-radio button,
.ui-checkbox button,
.ui-checkbox-checked button,
.ui-selectbox button,
.ui-selectbox div,
.ui-table button,
.ui-table div {
   pointer-events: auto;
   position: absolute;
}

.ui-textbox input,
.ui-button input,
.ui-textarea textarea,
.ui-label input,
.ui-radio-checked input,
.ui-radio input,
.ui-checkbox input,
.ui-checkbox-checked input,
.ui-selectbox input {
   pointer-events: none;
   position: absolute;
}

.ui-button button.delete,
.ui-button button.copy,
.ui-button button.link,
.ui-div button.delete,
.ui-div button.copy,
.ui-textbox button.delete,
.ui-textbox button.copy,
.ui-textarea button.delete,
.ui-textarea button.copy,
.ui-label button.delete,
.ui-label button.copy,
.ui-radio-checked button.delete,
.ui-radio-checked button.copy,
.ui-radio button.delete,
.ui-radio button.copy,
.ui-checkbox button.delete,
.ui-checkbox button.copy,
.ui-checkbox-checked button.delete,
.ui-checkbox-checked button.copy,
.ui-selectbox button.delete,
.ui-selectbox button.copy,
.ui-table button.delete,
.ui-table button.copy {
   border-radius: 20px;
   width: 15px;
   height: 15px;
   line-height: 15px;
   top: -20px;
   background-color: #0769AD;
   color: white;
   border: none;
   padding: 0;
   margin: 0;
   float: left;
   display: none;
}

.ui-button button.delete,
.ui-div button.delete,
.ui-textbox button.delete,
.ui-textarea button.delete,
.ui-label button.delete,
.ui-radio-checked button.delete,
.ui-radio button.delete,
.ui-checkbox button.delete,
.ui-checkbox-checked button.delete,
.ui-selectbox button.delete,
.ui-table button.delete {
   left: -15px;
}

.ui-button button.copy,
.ui-div button.copy,
.ui-textbox button.copy,
.ui-textarea button.copy,
.ui-label button.copy,
.ui-radio-checked button.copy,
.ui-radio button.copy,
.ui-checkbox button.copy,
.ui-checkbox-checked button.copy,
.ui-selectbox button.copy,
.ui-table button.copy {
	right: -15px;
}

.ui-button button.link {
	left: 47%;
}

.ui-button button.delete:hover,
.ui-div button.delete:hover,
.ui-textbox button.delete:hover,
.ui-textarea button.delete:hover,
.ui-label button.delete:hover,
.ui-radio-checked button.delete:hover,
.ui-radio button.delete:hover,
.ui-checkbox button.delete:hover,
.ui-checkbox-checked button.delete:hover,
.ui-selectbox button.delete:hover,
.ui-table button.delete:hover {
   width: 20px;
   height: 20px;
   line-height: 20px;
}
.ui-button input,
.ui-textbox input,
.ui-textarea textarea,
.ui-label input,
.ui-radio-checked input,
.ui-radio input,
.ui-checkbox input,
.ui-checkbox-checked input,
.ui-selectbox input {
   text-align: center;
   height: 23px;
   border: none;
   background: transparent;
   overflow:hidden;
   resize: none;
   width: 100%;
   height: 100%;
}
.ui-div div,
.ui-button div,
.ui-textarea div,
.ui-textbox div,
.ui-selectbox div,
.ui-table div {
   width: 22px;
   height: 22px;
   text-align: center;
   display: none;
   color: #0769AD;
   top: 101%;
   left: 101%;
}