textarea {
	overflow: hidden;
}

.div-loading {
	 background: rgba(92, 184, 92, 0.1);
	 height: 800px;
	 width: 870px;
	 z-index: 1000;
	 position: absolute;
	 top: 0;
	 display: none;
}

#paper {
	border: 1px solid #0769AD;
	background: url('../img/grid.gif');
	position: relative;
	height: 800px;
	width: 870px;
	overflow: auto;
}

.paper-scroll {
	overflow: auto !important;
	width: 870px !important;
	height: 800px !important;
	-moz-transition: all 0.7s ease;
	-webkit-transition: all 0.7s ease;
	-o-transition: all 0.7s ease;
	transition: all 0.7s ease;
}

.paper-no-scroll {
	overflow: hidden !important;
	width: 1050px !important;
	height: 1000px !important;
	-moz-transition: all 0.7s ease;
	-webkit-transition: all 0.7s ease;
	-o-transition: all 0.7s ease;
	transition: all 0.7s ease;
}

.tool-btn {
	height: 38px;
	width: 30px;
	outline: none !important;
}

.tool {
	position: fixed !important;
	z-index: 100;
	top: 20vh;
	right:0;
}

.tool .btn {
	padding: 8px;
	background-color: white !important;
	color: black !important;
}

.tool .active {
	background-color: #aaa !important;
}

.role-actor {
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 10px;
	padding-bottom: 10px;
	padding-left: 12px;
}

#saveInfoActor,
#saveInfoUC,
#exportSVG,
#exportXML,
#exportJSON {
	width:100%;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	height: 56px;
	font-size: 16px;
}

#nameFileSVG,
#nameFileXML,
#nameFileJSON {
	border:none;
	box-shadow: none !important;
	height:56px;
	font-size:16px;
}