.uml-actor,
.uml-usecase {
    pointer-events: none;
   -webkit-user-select: none;
   /*z-index: 2;*/
   position: absolute;
   background: transparent;
   border-radius: 4px;
}
.uml-usecase textarea,
.uml-usecase div,
.uml-usecase button,
.uml-actor textarea,
.uml-actor div,
.uml-actor button {
   /* Enable interacting with inputs only. */
   pointer-events: auto;
}
.uml-usecase button.delete,
.uml-actor button.delete {
   border-radius: 20px;
   width: 15px;
   height: 15px;
   line-height: 15px;
   left: -15px;
   top: -15px;
   background-color: black;
   color: white;
   border: none;
   padding: 0;
   margin: 0;
   position: absolute;
   display: none;
}
.uml-usecase button.delete:hover,
.uml-actor button.delete:hover {
   width: 20px;
   height: 20px;
   line-height: 20px;
}
.uml-actor textarea,
.uml-usecase textarea {
   position: absolute;
   text-align: center;
   
   height: 23px;
   border: none;
   background: transparent;
   overflow:hidden;
   resize: none;
}

.uml-actor textarea {
   width: 73px;
   top: 80px;
   left: -15px;
}

.uml-usecase textarea {
   width: 84px;
   top: 38px;
}
.uml-actor div.relationship,
.uml-usecase div.relationship {
   width: 22px;
   height: 22px;
   position: absolute;
   border-radius: 2px;
   right: -28px;
   border: 1px dashed #428bca;
   text-align: center;
   display: none;
   background: white;
}
.uml-actor div.generalization {
   top: 26px;
   background: white;
}
.uml-actor div.relationship:hover,
.uml-usecase div.relationship:hover {
   background-color: #5cb85c;
}

.uml-usecase div.association {
   top: -26px;
   background: white;
}

.uml-usecase div.include {
   top: 26px;
   background: white;
}

.uml-usecase div.generalization {
   top: 52px;
   background: white;
}