textarea {
	overflow: hidden;
}

.div-loading {
	 background: rgba(92, 184, 92, 0.1);
	 height: 800px;
	 width: 945px;
	 z-index: 1000;
	 position: absolute;
	 top: 0;
	 display: none;
}

#paper {
	border: 1px solid #009587;
	background: url('../img/grid.gif');
	position: relative;
	height: 800px;
}

.tool-btn {
	height: 38px;
	width: 30px;
	outline: none !important;
}

.tool {
	position: fixed !important;
	z-index: 100;
	top: 70px;
	right:0;
}

.tool .btn {
	padding: 8px;
}

.role-actor {
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 10px;
	padding-bottom: 10px;
	padding-left: 12px;
}

#saveInfoActor,
#saveInfoUC,
#exportSVG,
#exportXML,
#exportJSON {
	width:100%;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	height: 56px;
	font-size: 16px;
}

#nameFileSVG,
#nameFileXML,
#nameFileJSON {
	border:none;
	box-shadow: none !important;
	height:56px;
	font-size:16px;
}